In [1]:
import pandas as pd

In [2]:
#Objetivo --> meter los clusters también aquí

In [3]:
a = pd.read_csv("../data/perros_por_grupos_de_caracteristicas.csv")

In [4]:
b = pd.read_csv("../data/grupos.csv")

In [5]:
b

     grupetes
0           2
1           1
2           1
3           0
4           2
..        ...
376         0
377         1
378         0
379         1
380         1

[381 rows x 1 columns]

In [6]:
a["Groups"]= b

In [7]:
a.to_csv("../data/a_super_def.csv", index = False)

In [8]:
hola = pd.read_csv("../data/a_super_def.csv")

In [9]:
a.head(4)

,Name,Adapts Well To Apartment Living,Good For Novice Owners,Sensitivity Level,Tolerates Being Alone,Tolerates Cold Weather,Tolerates Hot Weather,Affectionate With Family,Kid-Friendly,Dog Friendly,...,Tendency To Bark Or Howl,Wanderlust Potential,Energy Level,Intensity,Exercise Needs,Potential For Playfulness,Behaviour,b_physical,g_physical,Groups
0,Afador,1,1,3,3,4,2,4,2,3,...,4,4,4,4,4,3,2.0,4.0,4.0,2
1,Affenhuahua,4,4,4,1,2,3,4,3,2,...,4,2,4,3,3,3,3.0,3.0,3.0,1
2,Affenpinscher,5,4,3,1,3,3,5,1,4,...,2,2,4,3,3,4,3.0,2.0,3.0,1
3,Afghan Hound,5,3,5,2,5,5,5,5,4,...,2,5,5,2,4,4,4.0,2.0,4.0,0

In [10]:
a.columns

Index(['Name', 'Adapts Well To Apartment Living', 'Good For Novice Owners',
       'Sensitivity Level', 'Tolerates Being Alone', 'Tolerates Cold Weather',
       'Tolerates Hot Weather', 'Affectionate With Family', 'Kid-Friendly',
       'Dog Friendly', 'Friendly Toward Strangers', 'Amount Of Shedding',
       'Drooling Potential', 'Easy To Groom', 'General Health',
       'Potential For Weight Gain', 'Size', 'Easy To Train', 'Intelligence',
       'Potential For Mouthiness', 'Prey Drive', 'Tendency To Bark Or Howl',
       'Wanderlust Potential', 'Energy Level', 'Intensity', 'Exercise Needs',
       'Potential For Playfulness', 'Behaviour', 'b_physical', 'g_physical',
       'Groups'],
      dtype='object')

In [11]:
a = a.sort_values('Behaviour', ascending = False)

In [13]:
print("¿De qué tamaño te gustaría adoptar tu pero?: Grande, Mediano, Pequeño")
size = input()


#Primer filtro --> Tamaño
if size == "Grande":
    tamano = [4,5]
elif size == "Mediano":
    tamano = [3]
else:
    tamano = [1,2]
volumen = a[a.Size.isin(tamano)]


#Segundo filtro --> Pelo
print("¿Eres alérgicx al pelo de perro?: Sí/ No")
alergia = input()
if alergia == "Sí":
    pelo = [1,2]
else: 
    pelo = [1,2,3,4,5]    
pelete = volumen[volumen['Amount Of Shedding'].isin(pelo)]


#Tercer filtro --> Tiempo para pasear 
print("¿Cuánto tiempo tienes para pasear? Mucho/Intermedio/Poco")
tiempo = input()
if tiempo == "Mucho":
      horas = [1,2,3,4,5]
elif tiempo == "Intermedio":
      horas = [1,2,3]
else:
      horas = [1,2]        
paseo = pelete[pelete['Exercise Needs'].isin(horas)]


#Cuarto filtro --> Hijos pequeños 
print("¿Tienes hijos pequeños? Sí/No")
ninos = input()
if ninos == "Sí":
    hijo = [4,5]
else:
    hijo = [1,2,3,4,5]        
nino = paseo[paseo['Kid-Friendly'].isin(hijo)]

#Quinto filtro --> Otros perretes
print("¿Tienes ya otro perro? Sí/No")
perros_otro = input()
if perros_otro == "Sí":
    otro = [4,5]
else:
    otro = [1,2,3,4,5]        
perro = nino[nino['Dog Friendly'].isin(otro)]

¿De qué tamaño te gustaría adoptar tu pero?: Grande, Mediano, Pequeño
Grande
¿Eres alérgicx al pelo de perro?: Sí/ No
No
¿Cuánto tiempo tienes para pasear? Mucho/Intermedio/Poco
Poco
¿Tienes hijos pequeños? Sí/No
No
¿Tienes ya otro perro? Sí/No
No

In [14]:
perro.head(4)

,Name,Adapts Well To Apartment Living,Good For Novice Owners,Sensitivity Level,Tolerates Being Alone,Tolerates Cold Weather,Tolerates Hot Weather,Affectionate With Family,Kid-Friendly,Dog Friendly,...,Tendency To Bark Or Howl,Wanderlust Potential,Energy Level,Intensity,Exercise Needs,Potential For Playfulness,Behaviour,b_physical,g_physical,Groups
73,Borzoi,5,3,5,1,4,3,4,3,4,...,2,4,2,2,2,3,4.0,3.0,3.0,1
360,Tibetan Mastiff,1,1,5,1,5,2,5,5,5,...,2,3,4,2,2,5,3.0,3.0,4.0,2
318,Saint Bernard,3,2,4,1,5,1,5,5,5,...,1,2,3,2,2,4,3.0,4.0,3.0,2
4,Akbash,1,2,3,4,4,2,5,4,3,...,3,1,2,2,2,3,3.0,3.0,3.0,2

In [15]:
list(perro.head(1)["Size"])[0]

5

In [18]:
numero_estrellas_tamano = (list(perro.head(1)["Size"])[0])

if numero_estrellas_tamano == 5:
    print("si")

si

In [ ]:
lista = perro.head(4).Name.unique()
c = len(lista)

In [ ]:
lista

In [ ]:
cluster = int(perro[perro["Name"]== lista[0]].Groups)

In [ ]:
type(cluster)
cluster

In [ ]:
eleccion = perro.loc[(perro.Groups == cluster)]

In [ ]:
for i in range(0,c):
    eleccion = eleccion[eleccion.Name != lista[i]]

eleccion = eleccion.head(4)
eleccion

In [ ]:
# por si no furula el filtro del filtro y cluster. Buscamos en el cluster pero sin el filtro 

eleccion2 = a.loc[(a.Groups == cluster)]

In [ ]:
for i in range(0,c):
    eleccion2 = eleccion2[eleccion2.Name != lista[i]]

eleccion2 = eleccion2.head(4)
eleccion2

In [ ]:
#disponibilidad de perretes para adoptar

In [ ]:
a.to_pickle("../CSV_y_materiales/definitivo.pkl")